extends main

block main
	.mdl-grid
		.mdl-cell.mdl-cell--4-col.mdl-cell--4-offset-desktop.mdl-cell--2-offset-tablet
			h2.username ianyh
	.mdl-grid
		.mdl-cell.mdl-cell--4-col.mdl-cell--4-offset-desktop.mdl-cell--2-offset-tablet
			p
				| I work 
				a(href="https://preveil.com") here
				| .
			p
				| I write a window manager called 
				a(href="/amethyst") Amethyst
				| .
			p
				| I have some other random projects on 
				a(href="https://github.com/ianyh") github
				| .
			p
				| I'm on 
				a(href="https://twitter.com/ianyh") twitter
				| .
			p
				| I say things on a 
				a(href="/blog") blog
				|  sometimes.
