extends layout

block main
	.row.index-main
		.four.columns.u-pull-right
			h2.username ianyh
		.eight.columns
			p
				| I work 
				a(href="https://coeverywhere.com") here
				|  making 
				a(href="https://groundsignal.com") this
				| .
			p
				| I write a window manager called 
				a(href="/amethyst") Amethyst
				| .
			p
				| I have some other random projects on 
				a(href="https://github.com/ianyh") github
				| .
			p
				| I say things on a 
				a(href="/blog") blog
				|  infrequently, and am on 
				a(href="https://twitter.com/ianyh") twitter
				|  even less so, but you can watch either if you like.
