doctype html
html
	head
		block head
			block title
				title= title ? title + " | " + site.title : site.title
			block icon
			link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
			link(rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css")
			link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
			script(defer src="https://code.getmdl.io/1.1.3/material.min.js")
			meta(name="viewport" content="width=device-width, initial-scale=1.0")
			block styles
			block js
	body
		block beforeBody
		block body
			.mdl-layout.mdl-js-layout
				main.mdl-layout__content
					block main
