doctype html
html
	head
		block head
			block title
				title= title ? title + " | " + site.title : site.title
			block styles
				link(href="/css/style.css" rel="stylesheet" type="text/css")
	body
		block body
			#main
				block main
