extends layout

block append styles
	link(href="https://fonts.googleapis.com/css?family=Cardo|Raleway" rel="stylesheet" type="text/css")
	link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet")
	link(href="/css/main.css" rel="stylesheet" type="text/css")
