//- extends main
extends posts

block postscontent
	section
		article#article
			header
				h1.title= title
			section
				.byline
					time #{moment(publishDate).format('M.D.YYYY')}
			section
				.content!= contents
