extends main

block main
	.mdl-grid
		.mdl-cell.mdl-cell--8-col.mdl-cell--6-col-tablet.mdl-cell--2-offset-desktop.mdl-cell--1-offset-tablet
			header.header
				block posttitle
					h2.title Bias and Sandwiches
					h6.subtitle I say things sometimes, I guess
	.mdl-grid
		.mdl-cell.mdl-cell--8-col.mdl-cell--6-col-tablet.mdl-cell--2-offset-desktop.mdl-cell--1-offset-tablet
			block postscontent
				section
					if collections.posts && collections.posts.length > 0
						.posts
							each post in collections.posts
								article
									header.post-header
										h4.title: a(href="/" + post.path)!= post.title
										span
											time #{moment(post.publishDate).format('M.D.YYYY')}
									section
										.excerpt!= post.excerpt
								hr
