@import 'base';
@import 'hopscotch';

$color: #272D2D;
$anchor-color: #3D5A6C;

body {
	color: $color;
}

a {
	color: lighten($anchor-color, 30%);
	text-decoration: none;
	&:hover {
		color: $anchor-color;
	}
}

pre {
	background: #322931;
}

pre > code {
	@extend .hljs;
	background: none;
	border: 0;
}

aside {
	padding: 0 0 30px;
}

.main {
	max-width: 800px;
	&.index {
		max-width: 500px;
	}
}

.header {
	text-align: center;
	padding: 30px 0 0;
}

.posts {
	.byline {
		padding-top: 0;
	}
	hr {
		width: 75%;
		&:last-child {
			display: none;
		}
	}
}

.title {
	margin: 0;
}

.username {
	font-family: 'Cardo', serif;
	color: $color;
	text-align: left;
	padding: 0 10px 0 0;
	margin: 0;
	aside > & {
		width: 100%;
		padding: 0;
		text-align: center;
	}
}

.social {
	text-align: center;
	> a {
		padding: 0 6px;
	}
}

.byline {
	opacity: 0.4;
	font-size: 1.2rem;
	padding: 10px 0;
}

@media (min-width: 550px) {
	.main {
		margin: 50px auto;
	}
	.username {
		text-align: right;
	}
	.social {
		text-align: right;
	}
	aside > .username {
		text-align: right;
	}
}
