@import 'base';
@import 'hopscotch';

$color: #272D2D;
$anchor-color: #3D5A6C;

body {
	color: $color;
}

a {
	color: lighten($anchor-color, 30%);
	text-decoration: none;
	&:hover {
		color: $anchor-color;
	}
}

time {
	color: lighten($color, 30%);
}

.post-header {
	margin-bottom: 10px;
}

pre {
	background: #322931;
}

pre > code {
	@extend .hljs;
	background: none;
	border: 0;
}

blockquote {
	&:before, &:after {
		content: '';
	}

	p {
		display: inline;
		margin: 0;
	}
}

.posts {
	hr {
		width: 75%;
		&:last-child {
			display: none;
		}
	}
}

.title {
	margin: 0;
}
